 /**
 *  Webfonts
 */
@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);


// @font-face {
//     font-family: 'Edo';
// src: url('../fonts/edo.eot'); /* IE9 Compat Modes */
// src: url('../fonts/edo.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
//      url('../fonts/edo.woff') format('woff'), /* Modern Browsers */
//      url('../fonts/edo.ttf')  format('truetype'), /* Safari, Android, iOS */
//      url('../fonts/edo.svg#edo') format('svg'); /* Legacy iOS */
//     font-weight: normal;
//     font-style: normal;
// }


@font-family-base: 'Roboto Condensed', sans-serif;
@font-family-base-weight: 300;
@font-family-headline: 'Roboto Condensed', sans-serif;
@font-family-headline: 400;

@font-size-base: 15px;
@font-size-base-mobile: 13px;
@font-size-headline: 18px;
@font-size-large-headline: 36px;
@font-size-btn: 14px;

@font-size-normal: 12px;

@line-height-base: 1.5;

/**
 * Colors
 */

@dark-blue: #00042b;
@medium-blue: #173a51;
@light-blue: #3b596d;
@dark-gray: #61737a;
@medium-gray: #7f8b90;
@light-gray: #ccd7d4;
@bright-green: #65b574;

@logo-height: 40px;
@logo-height-sm: 80px;
@logo-width: 40px;
@logo-width-sm: 80px;

@content-padding: 15px;
@content-padding-sm: 20px;
@content-padding-md: 25px;
@content-padding-lg: @content-padding-md;

@hero-height: 300px;
@hero-height-sm: 575px;
@hero-height-md: 595px;
@hero-height-lg: @hero-height-md;